In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, BooleanType, DoubleType, DateType

In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "{clientId}",
"fs.azure.account.oauth2.client.secret": '{secretKey}',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/{tenantId}/oauth2/token"}


dbutils.fs.mount(
source = "abfss://tokyo-olympics-data@olympicsdataeng2023.dfs.core.windows.net", # container@storageaccount
mount_point = "/mnt/tokyoolymics",
extra_configs = configs)

---------------------------------------------------------------------------
ExecutionError                            Traceback (most recent call last)
File <command-1349091796859092>, line 8
      1 configs = {"fs.azure.account.auth.type": "OAuth",
      2 "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
      3 "fs.azure.account.oauth2.client.id": "4b7f20a0-dd44-4fb7-81bc-aa848a5dee65",
      4 "fs.azure.account.oauth2.client.secret": 'RQU8Q~0AF0K~WasvFEmNHoXKKggEsal_EPJo.aes',
      5 "fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/667782a1-3f36-4747-a857-7b4b0fab5107/oauth2/token"}
----> 8 dbutils.fs.mount(
      9 source = "abfss://tokyo-olympics-data@olympicsdataeng2023.dfs.core.windows.net", # container@storageaccount
     10 mount_point = "/mnt/tokyoolymics",
     11 extra_configs = configs)

File /databricks/python_shell/dbruntime/dbutils.py:362, in DBUtils.FSHandler.prettify_exception_message.<locals>.f_with_exception_handling(*args, **kwargs)
    360 exc.__context__ = None
    361 exc.__cause__ = None
--> 362 raise exc

ExecutionError: An error occurred while calling o1008.mount.
: java.rmi.RemoteException: java.lang.IllegalArgumentException: requirement failed: Directory already mounted: /mnt/tokyoolymics; nested exception is:
	java.lang.IllegalArgumentException: requirement failed: Directory already mounted: /mnt/tokyoolymics
	at com.databricks.backend.daemon.data.client.DbfsClient.send0(DbfsClient.scala:135)
	at com.databricks.backend.daemon.data.client.DbfsClient.sendIdempotent(DbfsClient.scala:69)
	at com.databricks.backend.daemon.dbutils.DBUtilsCore.createOrUpdateMount(DBUtilsCore.scala:1057)
	at com.databricks.backend.daemon.dbutils.DBUtilsCore.$anonfun$mount$1(DBUtilsCore.scala:1083)
	at com.databricks.logging.UsageLogging.$anonfun$recordOperation$1(UsageLogging.scala:571)
	at com.databricks.logging.UsageLogging.executeThunkAndCaptureResultTags$1(UsageLogging.scala:666)
	at com.databricks.logging.UsageLogging.$anonfun$recordOperationWithResultTags$4(UsageLogging.scala:684)
	at com.databricks.logging.UsageLogging.$anonfun$withAttributionContext$1(UsageLogging.scala:426)
	at scala.util.DynamicVariable.withValue(DynamicVariable.scala:62)
	at com.databricks.logging.AttributionContext$.withValue(AttributionContext.scala:196)
	at com.databricks.logging.UsageLogging.withAttributionContext(UsageLogging.scala:424)
	at com.databricks.logging.UsageLogging.withAttributionContext$(UsageLogging.scala:418)
	at com.databricks.backend.daemon.dbutils.FSUtils.withAttributionContext(DBUtilsCore.scala:69)
	at com.databricks.logging.UsageLogging.withAttributionTags(UsageLogging.scala:470)
	at com.databricks.logging.UsageLogging.withAttributionTags$(UsageLogging.scala:455)
	at com.databricks.backend.daemon.dbutils.FSUtils.withAttributionTags(DBUtilsCore.scala:69)
	at com.databricks.logging.UsageLogging.recordOperationWithResultTags(UsageLogging.scala:661)
	at com.databricks.logging.UsageLogging.recordOperationWithResultTags$(UsageLogging.scala:580)
	at com.databricks.backend.daemon.dbutils.FSUtils.recordOperationWithResultTags(DBUtilsCore.scala:69)
	at com.databricks.logging.UsageLogging.recordOperation(UsageLogging.scala:571)
	at com.databricks.logging.UsageLogging.recordOperation$(UsageLogging.scala:540)
	at com.databricks.backend.daemon.dbutils.FSUtils.recordOperation(DBUtilsCore.scala:69)
	at com.databricks.backend.daemon.dbutils.FSUtils.recordDbutilsFsOp(DBUtilsCore.scala:133)
	at com.databricks.backend.daemon.dbutils.DBUtilsCore.mount(DBUtilsCore.scala:1077)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:397)
	at py4j.Gateway.invoke(Gateway.java:306)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:195)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:115)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.lang.IllegalArgumentException: requirement failed: Directory already mounted: /mnt/tokyoolymics
	at scala.Predef$.require(Predef.scala:281)
	at com.databricks.backend.daemon.data.server.DefaultMetadataManager.$anonfun$insertMount$1(MetadataManager.scala:601)
	at com.databricks.backend.daemon.data.server.DefaultMetadataManager.$anonfun$modifyAndVerify$2(MetadataManager.scala:977)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.backend.daemon.data.server.DefaultMetadataManager.withRetries(MetadataManager.scala:750)
	at com.databricks.backend.daemon.data.server.DefaultMetadataManager.modifyAndVerify(MetadataManager.scala:966)
	at com.databricks.backend.daemon.data.server.DefaultMetadataManager.insertMount(MetadataManager.scala:609)
	at com.databricks.backend.daemon.data.server.handler.MountHandler.receive(MountHandler.scala:120)
	at com.databricks.backend.daemon.data.server.session.SessionContext.$anonfun$queryHandlers$1(SessionContext.scala:54)
	at com.databricks.backend.daemon.data.server.session.SessionContext.$anonfun$queryHandlers$1$adapted(SessionContext.scala:53)
	at scala.collection.immutable.List.foreach(List.scala:431)
	at com.databricks.backend.daemon.data.server.session.SessionContext.queryHandlers(SessionContext.scala:53)
	at com.databricks.backend.daemon.data.server.DbfsServerBackend$$anonfun$receive$4.$anonfun$applyOrElse$5(DbfsServerBackend.scala:386)
	at com.databricks.logging.UsageLogging.$anonfun$withAttributionContext$1(UsageLogging.scala:426)
	at scala.util.DynamicVariable.withValue(DynamicVariable.scala:62)
	at com.databricks.logging.AttributionContext$.withValue(AttributionContext.scala:216)
	at com.databricks.logging.UsageLogging.withAttributionContext(UsageLogging.scala:424)
	at com.databricks.logging.UsageLogging.withAttributionContext$(UsageLogging.scala:418)
	at com.databricks.rpc.ServerBackend.withAttributionContext(ServerBackend.scala:22)
	at com.databricks.logging.UsageLogging.withAttributionTags(UsageLogging.scala:472)
	at com.databricks.logging.UsageLogging.withAttributionTags$(UsageLogging.scala:455)
	at com.databricks.rpc.ServerBackend.withAttributionTags(ServerBackend.scala:22)
	at com.databricks.backend.daemon.data.server.DbfsServerBackend$$anonfun$receive$4.applyOrElse(DbfsServerBackend.scala:386)
	at com.databricks.backend.daemon.data.server.DbfsServerBackend$$anonfun$receive$4.applyOrElse(DbfsServerBackend.scala:332)
	at com.databricks.rpc.ServerBackend.$anonfun$internalReceive0$2(ServerBackend.scala:174)
	at com.databricks.rpc.ServerBackend$$anonfun$commonReceive$1.applyOrElse(ServerBackend.scala:200)
	at com.databricks.rpc.ServerBackend$$anonfun$commonReceive$1.applyOrElse(ServerBackend.scala:200)
	at com.databricks.rpc.ServerBackend.internalReceive0(ServerBackend.scala:171)
	at com.databricks.rpc.ServerBackend.$anonfun$internalReceive$1(ServerBackend.scala:147)
	at com.databricks.logging.UsageLogging.$anonfun$recordOperation$1(UsageLogging.scala:573)
	at com.databricks.logging.UsageLogging.executeThunkAndCaptureResultTags$1(UsageLogging.scala:668)
	at com.databricks.logging.UsageLogging.$anonfun$recordOperationWithResultTags$4(UsageLogging.scala:686)
	at com.databricks.logging.UsageLogging.$anonfun$withAttributionContext$1(UsageLogging.scala:426)
	at scala.util.DynamicVariable.withValue(DynamicVariable.scala:62)
	at com.databricks.logging.AttributionContext$.withValue(AttributionContext.scala:216)
	at com.databricks.logging.UsageLogging.withAttributionContext(UsageLogging.scala:424)
	at com.databricks.logging.UsageLogging.withAttributionContext$(UsageLogging.scala:418)
	at com.databricks.rpc.ServerBackend.withAttributionContext(ServerBackend.scala:22)
	at com.databricks.logging.UsageLogging.withAttributionTags(UsageLogging.scala:472)
	at com.databricks.logging.UsageLogging.withAttributionTags$(UsageLogging.scala:455)
	at com.databricks.rpc.ServerBackend.withAttributionTags(ServerBackend.scala:22)
	at com.databricks.logging.UsageLogging.recordOperationWithResultTags(UsageLogging.scala:663)
	at com.databricks.logging.UsageLogging.recordOperationWithResultTags$(UsageLogging.scala:582)
	at com.databricks.rpc.ServerBackend.recordOperationWithResultTags(ServerBackend.scala:22)
	at com.databricks.logging.UsageLogging.recordOperation(UsageLogging.scala:573)
	at com.databricks.logging.UsageLogging.recordOperation$(UsageLogging.scala:542)
	at com.databricks.rpc.ServerBackend.recordOperation(ServerBackend.scala:22)
	at com.databricks.rpc.ServerBackend.internalReceive(ServerBackend.scala:147)
	at com.databricks.rpc.JettyServer$RequestManager.handleRPC(JettyServer.scala:1020)
	at com.databricks.rpc.JettyServer$RequestManager.handleRequestAndRespond(JettyServer.scala:941)
	at com.databricks.rpc.JettyServer$RequestManager.$anonfun$handleHttp$6(JettyServer.scala:545)
	at com.databricks.rpc.JettyServer$RequestManager.$anonfun$handleHttp$6$adapted(JettyServer.scala:514)
	at com.databricks.logging.activity.ActivityContextFactory$.$anonfun$withActivityInternal$4(ActivityContextFactory.scala:402)
	at com.databricks.logging.UsageLogging.$anonfun$withAttributionContext$1(UsageLogging.scala:426)
	at scala.util.DynamicVariable.withValue(DynamicVariable.scala:62)
	at com.databricks.logging.AttributionContext$.withValue(AttributionContext.scala:216)
	at com.databricks.logging.UsageLogging.withAttributionContext(UsageLogging.scala:424)
	at com.databricks.logging.UsageLogging.withAttributionContext$(UsageLogging.scala:418)
	at com.databricks.logging.activity.ActivityContextFactory$.withAttributionContext(ActivityContextFactory.scala:56)
	at com.databricks.logging.activity.ActivityContextFactory$.$anonfun$withActivityInternal$1(ActivityContextFactory.scala:402)
	at com.databricks.context.integrity.IntegrityCheckContext$ThreadLocalStorage$.withValue(IntegrityCheckContext.scala:44)
	at com.databricks.logging.activity.ActivityContextFactory$.withActivityInternal(ActivityContextFactory.scala:377)
	at com.databricks.logging.activity.ActivityContextFactory$.withServiceRequestActivity(ActivityContextFactory.scala:157)
	at com.databricks.rpc.JettyServer$RequestManager.handleHttp(JettyServer.scala:514)
	at com.databricks.rpc.JettyServer$RequestManager.doPost(JettyServer.scala:404)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:665)
	at com.databricks.rpc.HttpServletWithPatch.service(HttpServletWithPatch.scala:33)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:750)
	at org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:848)
	at org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:585)
	at org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:515)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:141)
	at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:134)
	at org.eclipse.jetty.server.Server.handle(Server.java:539)
	at org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:333)
	at org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:251)
	at org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:283)
	at org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:108)
	at org.eclipse.jetty.io.SelectChannelEndPoint$2.run(SelectChannelEndPoint.java:93)
	at org.eclipse.jetty.util.thread.strategy.ExecuteProduceConsume.executeProduceConsume(ExecuteProduceConsume.java:303)
	at org.eclipse.jetty.util.thread.strategy.ExecuteProduceConsume.produceConsume(ExecuteProduceConsume.java:148)
	at org.eclipse.jetty.util.thread.strategy.ExecuteProduceConsume.run(ExecuteProduceConsume.java:136)
	at com.databricks.rpc.InstrumentedQueuedThreadPool$$anon$1.$anonfun$run$1(InstrumentedQueuedThreadPool.scala:81)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at com.databricks.instrumentation.QueuedThreadPoolInstrumenter.trackActiveThreads(QueuedThreadPoolInstrumenter.scala:66)
	at com.databricks.instrumentation.QueuedThreadPoolInstrumenter.trackActiveThreads$(QueuedThreadPoolInstrumenter.scala:63)
	at com.databricks.rpc.InstrumentedQueuedThreadPool.trackActiveThreads(InstrumentedQueuedThreadPool.scala:47)
	at com.databricks.rpc.InstrumentedQueuedThreadPool$$anon$1.run(InstrumentedQueuedThreadPool.scala:76)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:671)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:589)
	... 1 more

In [0]:
%fs
ls "mnt/tokyoolymics"

path,name,size,modificationTime
dbfs:/mnt/tokyoolymics/raw-data/,raw-data/,0,1699405143000
dbfs:/mnt/tokyoolymics/transformed-data/,transformed-data/,0,1699405152000

In [0]:
athletes = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymics/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymics/raw-data/coaches.csv")
entriesGender = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymics/raw-data/entriesGender.csv")
medals = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymics/raw-data/medals.csv")
teams = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolymics/raw-data/teams.csv")

In [0]:
athletes.show()

+--------------------+--------------------+-------------------+
|          PersonName|             Country|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [0]:
athletes.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
coaches.show()

+--------------------+--------------------+-----------------+--------+
|                Name|             Country|       Discipline|   Event|
+--------------------+--------------------+-----------------+--------+
|     ABDELMAGID Wael|               Egypt|         Football|    NULL|
|           ABE Junya|               Japan|       Volleyball|    NULL|
|       ABE Katsuhiko|               Japan|       Basketball|    NULL|
|        ADAMA Cherif|       Cï¿½te d'Ivoire|         Football|    NULL|
|          AGEBA Yuya|               Japan|       Volleyball|    NULL|
|AIKMAN Siegfried ...|               Japan|           Hockey|     Men|
|       AL SAADI Kais|             Germany|           Hockey|     Men|
|       ALAMEDA Lonni|              Canada|Baseball/Softball|Softball|
|     ALEKNO Vladimir|Islamic Republic ...|       Volleyball|     Men|
|     ALEKSEEV Alexey|                 ROC|         Handball|   Women|
|ALLER CARBALLO Ma...|               Spain|       Basketball|    NULL|
|       ALSHEHRI Saad|        Saudi Arabia|         Football|     Men|
|           ALY Kamal|               Egypt|         Football|    NULL|
| AMAYA GAITAN Fabian|         Puerto Rico|       Basketball|    NULL|
|    AMO AGUADO Pablo|               Spain|         Football|    NULL|
|   ANDONOVSKI Vlatko|United States of ...|         Football|   Women|
|        ANNAN Alyson|         Netherlands|           Hockey|   Women|
|  ARNAU CREUS Xavier|               Japan|           Hockey|   Women|
|       ARNOLD Graham|           Australia|         Football|     Men|
|         AXNER Tomas|              Sweden|         Handball|   Women|
+--------------------+--------------------+-----------------+--------+
only showing top 20 rows

In [0]:
coaches.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
entriesGender.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
entriesGender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
# entriesGender = entriesGender.withColumn("Female", col("Female").cast(IntegerType())) \
#     .withColumn("Male", col("Male").cast(IntegerType()))\
#         .withColumn("Total", col("Total").cast(IntegerType())) #if we don't use option("inferSchema", "true")

In [0]:
medals.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team_Country: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
teams.show()

+-------------+--------------+--------------------+------------+
|     TeamName|    Discipline|             Country|       Event|
+-------------+--------------+--------------------+------------+
|      Belgium|3x3 Basketball|             Belgium|         Men|
|        China|3x3 Basketball|People's Republic...|         Men|
|        China|3x3 Basketball|People's Republic...|       Women|
|       France|3x3 Basketball|              France|       Women|
|        Italy|3x3 Basketball|               Italy|       Women|
|        Japan|3x3 Basketball|               Japan|         Men|
|        Japan|3x3 Basketball|               Japan|       Women|
|       Latvia|3x3 Basketball|              Latvia|         Men|
|     Mongolia|3x3 Basketball|            Mongolia|       Women|
|  Netherlands|3x3 Basketball|         Netherlands|         Men|
|       Poland|3x3 Basketball|              Poland|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      Romania|3x3 Basketball|             Romania|       Women|
|       Serbia|3x3 Basketball|              Serbia|         Men|
|United States|3x3 Basketball|United States of ...|       Women|
|    Australia|       Archery|           Australia|  Men's Team|
|    Australia|       Archery|           Australia|  Mixed Team|
|   Bangladesh|       Archery|          Bangladesh|  Mixed Team|
|      Belarus|       Archery|             Belarus|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows

In [0]:
teams.printSchema()

root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

Load the transformed data into Data Lake Gen 2 storage to be used for analysis.

In [0]:
athletes.repartition(1).write.mode('overwrite').option("header", "true").csv("/mnt/tokyoolymics/transformed-data/athletes")
coaches.repartition(1).write.mode('overwrite').option("header", "true").csv("/mnt/tokyoolymics/transformed-data/coaches")
entriesGender.repartition(1).write.mode('overwrite').option("header", "true").csv("/mnt/tokyoolymics/transformed-data/entriesGender")
medals.repartition(1).write.mode('overwrite').option("header", "true").csv("/mnt/tokyoolymics/transformed-data/medals")
teams.repartition(1).write.mode('overwrite').option("header", "true").csv("/mnt/tokyoolymics/transformed-data/teams")

Data Analysis using PySpark

In [0]:
#calculate the gender ratio in each discipline
gender_ratio_each_discipline = entriesGender.withColumn(
    "M2F_Ratio", (entriesGender["Male"]/entriesGender["Female"]) * 100
).withColumn(
    "F2M_Ratio", (entriesGender["Female"]/entriesGender["Male"]) * 100
)
ratio = gender_ratio_each_discipline.orderBy("F2M_Ratio", ascending = False).show()

+--------------------+------+----+-----+-----------------+------------------+
|          Discipline|Female|Male|Total|        M2F_Ratio|         F2M_Ratio|
+--------------------+------+----+-----+-----------------+------------------+
|Cycling BMX Frees...|    10|   9|   19|             90.0|111.11111111111111|
|              Diving|    72|  71|  143|98.61111111111111|101.40845070422534|
|Cycling Mountain ...|    38|  38|   76|            100.0|             100.0|
| Artistic Gymnastics|    98|  98|  196|            100.0|             100.0|
|             Archery|    64|  64|  128|            100.0|             100.0|
|  Cycling BMX Racing|    24|  24|   48|            100.0|             100.0|
|    Beach Volleyball|    48|  48|   96|            100.0|             100.0|
|        Canoe Slalom|    41|  41|   82|            100.0|             100.0|
|          Basketball|   144| 144|  288|            100.0|             100.0|
|      3x3 Basketball|    32|  32|   64|            100.0|             100.0|
|       Skateboarding|    40|  40|   80|            100.0|             100.0|
|   Marathon Swimming|    25|  25|   50|            100.0|             100.0|
|            Handball|   168| 168|  336|            100.0|             100.0|
|                Golf|    60|  60|  120|            100.0|             100.0|
|      Sport Climbing|    20|  20|   40|            100.0|             100.0|
|              Hockey|   192| 192|  384|            100.0|             100.0|
|             Surfing|    20|  20|   40|            100.0|             100.0|
|   Modern Pentathlon|    36|  36|   72|            100.0|             100.0|
|             Sailing|   175| 175|  350|            100.0|             100.0|
|            Shooting|   178| 178|  356|            100.0|             100.0|
+--------------------+------+----+-----+-----------------+------------------+
only showing top 20 rows

Data Analysis using Pandas

In [0]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
def read_csv_file_with_encoding(file_path):
    try:
        return pd.read_csv(file_path, encoding='ISO-8859-1')
    except UnicodeDecodeError:
        try:
            return pd.read_csv(file_path, encoding='cp1252')
        except UnicodeDecodeError:
            return pd.read_csv(file_path, encoding='latin1')

file_paths = ['/dbfs/mnt/tokyoolymics/raw-data/athletes.csv', '/dbfs/mnt/tokyoolymics/raw-data/coaches.csv',
              '/dbfs/mnt/tokyoolymics/raw-data/entriesGender.csv', '/dbfs/mnt/tokyoolymics/raw-data/medals.csv', 
              '/dbfs/mnt/tokyoolymics/raw-data/teams.csv']

dataframes = {}
for path in file_paths:
    #use regex to extract filename from the filepaths
    key = path.split("/")[-1].split(".")[0]
    dataframes[key] = read_csv_file_with_encoding(path)

athletes_df = dataframes["athletes"]
coaches_df = dataframes["coaches"]
entriesGender_df = dataframes["entriesGender"]
medals_df = dataframes["medals"]
teams_df = dataframes["teams"]

In [0]:
athletes_df

                  PersonName  Country           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

Calculate the relation between number of participants and number of medals won (Gold, Silver, Bronze)

In [0]:
participants_count = pd.DataFrame(athletes_df["Country"].value_counts()).reset_index()
participants_count.columns = ['Team_Country', "NumberOfParticipants"]
participants_count.head(10)

                 Team_Country  NumberOfParticipants
0    United States of America                   615
1                       Japan                   586
2                   Australia                   470
3  People's Republic of China                   401
4                     Germany                   400
5                      France                   377
6                      Canada                   368
7               Great Britain                   366
8                       Italy                   356
9                       Spain                   324

In [0]:
participants_count = participants_count.merge(medals_df, how = "inner", on = "Team_Country")
participants_count.head()

                 Team_Country  NumberOfParticipants  ...  Total  Rank by Total
0    United States of America                   615  ...    113              1
1                       Japan                   586  ...     58              5
2                   Australia                   470  ...     46              6
3  People's Republic of China                   401  ...     88              2
4                     Germany                   400  ...     37              8

[5 rows x 8 columns]

Top 20 countries with best Medals to Participants ratio

In [0]:
participants_count["Total_Medals_Ratio"] = (participants_count["Total"]/participants_count["NumberOfParticipants"])*100
participants_count.sort_values(by="Total_Medals_Ratio", ascending = False, inplace = True)
participants_count.head(20)

                  Team_Country  ...  Total_Medals_Ratio
91                  San Marino  ...           75.000000
92                     Bermuda  ...           50.000000
78                     Armenia  ...           25.000000
64                     Georgia  ...           22.857143
10                         ROC  ...           22.327044
75                 Philippines  ...           22.222222
3   People's Republic of China  ...           21.945137
40                        Cuba  ...           21.739130
80                       Qatar  ...           21.428571
84                      Kosovo  ...           20.000000
72                   Indonesia  ...           19.230769
77                  Kyrgyzstan  ...           18.750000
0     United States of America  ...           18.373984
82                      Jordan  ...           18.181818
41              Chinese Taipei  ...           17.910448
7                Great Britain  ...           17.759563
57                  Azerbaijan  ...           17.073171
90        Syrian Arab Republic  ...           16.666667
89                     Grenada  ...           16.666667
73                      Uganda  ...           16.666667

[20 rows x 9 columns]

Top 20 Countries with worst Medals to Participants ratio

In [0]:
participants_count.sort_values(by="Total_Medals_Ratio", ascending = True, inplace = True)
participants_count.head(20)

           Team_Country  ...  Total_Medals_Ratio
16            Argentina  ...            1.666667
17         South Africa  ...            1.754386
51              Morocco  ...            2.083333
18               Mexico  ...            2.580645
62            Lithuania  ...            2.702703
63          Puerto Rico  ...            2.857143
66         Saudi Arabia  ...            3.125000
67              Bahrain  ...            3.225806
47              Nigeria  ...            3.389831
26              Ireland  ...            3.448276
68        CÃ´te d'Ivoire  ...            3.448276
48              Tunisia  ...            3.508772
31              Romania  ...            4.040404
53              Finland  ...            4.444444
21                Egypt  ...            4.511278
35             Portugal  ...            4.705882
34               Israel  ...            4.705882
60             Thailand  ...            5.128205
9                 Spain  ...            5.246914
74  Republic of Moldova  ...            5.263158

[20 rows x 9 columns]

Data Analysis using Spark SQL

In [0]:
#Register DataFrames as tenporary views using PySpark createOrReplaceTempView method
athletes.createOrReplaceTempView("athletes")
coaches.createOrReplaceTempView("coaches")
entriesGender.createOrReplaceTempView("entriesGender")
medals.createOrReplaceTempView("medals")
teams.createOrReplaceTempView("teams")

Analyze which sports disciplines won the most medals

In [0]:
%sql

SELECT Discipline, SUM(Gold) as Total_Gold, SUM(Silver) as Total_Silver, SUM(Bronze) as Total_Bronze
FROM medals M
JOIN athletes A ON Team_Country = Country
GROUP BY Discipline
ORDER BY Total_Gold DESC, Total_Silver DESC, Total_Bronze DESC
LIMIT 10;

Discipline,Total_Gold,Total_Silver,Total_Bronze
Athletics,18324,17427,19111
Swimming,6560,6209,6735
Rowing,5804,5529,5970
Football,5457,4591,5304
Hockey,4108,3469,4270
Rugby Sevens,4059,3380,3652
Shooting,3409,3179,3337
Water Polo,3407,3084,3343
Fencing,3343,3272,3329
Basketball,3241,2769,3118

Calculate the coaches to participants ratio for each Discipline and Country

In [0]:
%sql
SELECT 
    athletes.Discipline, 
    athletes.Country, 
    COUNT(DISTINCT athletes.PersonName) as ParticipantsCount, 
    COUNT(DISTINCT coaches.Name) as CoachesCount,
    ParticipantsCount/CoachesCount as Participant2CoachRatio
FROM athletes 
JOIN coaches
    ON athletes.Country = coaches.Country
    AND athletes.Discipline = coaches.Discipline
GROUP BY athletes.Discipline, athletes.Country
ORDER BY Participant2CoachRatio ASC;

Discipline,Country,ParticipantsCount,CoachesCount,Participant2CoachRatio
Artistic Swimming,Great Britain,1,2,0.5
Artistic Swimming,Austria,2,3,0.6666666666666666
Artistic Swimming,Mexico,2,2,1.0
Artistic Swimming,Colombia,2,2,1.0
Artistic Swimming,Netherlands,1,1,1.0
Artistic Swimming,Spain,8,6,1.3333333333333333
Artistic Swimming,Italy,8,5,1.6
Artistic Swimming,ROC,7,4,1.75
Artistic Swimming,United States of America,2,1,2.0
Artistic Swimming,Israel,2,1,2.0
Artistic Swimming,Egypt,8,4,2.0
Artistic Swimming,Liechtenstein,2,1,2.0
Artistic Swimming,Japan,8,4,2.0
Artistic Swimming,France,2,1,2.0
Artistic Swimming,Belarus,2,1,2.0
Artistic Swimming,Ukraine,8,4,2.0
Artistic Swimming,Kazakhstan,2,1,2.0
Artistic Swimming,Canada,6,3,2.0
Basketball,Spain,24,10,2.4
Basketball,Nigeria,23,9,2.5555555555555554
Basketball,United States of America,23,9,2.5555555555555554
Artistic Swimming,Greece,8,3,2.6666666666666665
Volleyball,Venezuela,12,4,3.0
Baseball/Softball,Canada,14,4,3.5
Football,Chile,21,6,3.5
Volleyball,Poland,11,3,3.6666666666666665
Volleyball,Kenya,12,3,4.0
Football,Cï¿½te d'Ivoire,20,5,4.0
Football,Egypt,20,5,4.0
Artistic Swimming,People's Republic of China,8,2,4.0
Volleyball,People's Republic of China,12,3,4.0
Basketball,Belgium,12,3,4.0
Basketball,Slovenia,12,3,4.0
Basketball,Puerto Rico,12,3,4.0
Volleyball,ROC,22,5,4.4
Volleyball,Japan,22,5,4.4
Volleyball,United States of America,22,5,4.4
Basketball,Australia,23,5,4.6
Basketball,Japan,23,5,4.6
Football,Spain,19,4,4.75
Football,South Africa,19,4,4.75
Baseball/Softball,Australia,15,3,5.0
Basketball,France,23,4,5.75
Volleyball,Argentina,23,4,5.75
Hockey,Australia,35,6,5.833333333333333
Basketball,People's Republic of China,12,2,6.0
Basketball,Serbia,12,2,6.0
Basketball,Czech Republic,12,2,6.0
Basketball,Germany,12,2,6.0
Baseball/Softball,United States of America,38,6,6.333333333333333
Hockey,Netherlands,33,5,6.6
Football,United States of America,20,3,6.666666666666667
Football,Japan,42,6,7.0
Artistic Swimming,Australia,7,1,7.0
Baseball/Softball,Italy,14,2,7.0
Hockey,India,35,5,7.0
Handball,Hungary,14,2,7.0
Hockey,South Africa,35,5,7.0
Volleyball,Italy,22,3,7.333333333333333
Handball,Denmark,15,2,7.5
Hockey,New Zealand,30,4,7.5
Handball,Netherlands,15,2,7.5
Hockey,Belgium,16,2,8.0
Hockey,Germany,33,4,8.25
Football,Germany,17,2,8.5
Hockey,Canada,18,2,9.0
Hockey,Ireland,18,2,9.0
Baseball/Softball,Japan,37,4,9.25
Handball,Japan,28,3,9.333333333333334
Football,Republic of Korea,20,2,10.0
Football,Romania,20,2,10.0
Volleyball,Tunisia,10,1,10.0
Handball,Norway,30,3,10.0
Basketball,Italy,10,1,10.0
Rugby Sevens,Kenya,21,2,10.5
Football,Mexico,21,2,10.5
Football,Saudi Arabia,21,2,10.5
Football,Zambia,21,2,10.5
Rugby Sevens,Japan,32,3,10.666666666666666
Hockey,Japan,32,3,10.666666666666666
Water Polo,South Africa,22,2,11.0
Rugby Sevens,Fiji,22,2,11.0
Rugby Sevens,Republic of Korea,11,1,11.0
Rugby Sevens,People's Republic of China,11,1,11.0
Rugby Sevens,France,11,1,11.0
Volleyball,France,11,1,11.0
Water Polo,Kazakhstan,11,1,11.0
Rugby Sevens,ROC,11,1,11.0
Basketball,Republic of Korea,11,1,11.0
Rugby Sevens,Great Britain,23,2,11.5
Volleyball,Brazil,23,2,11.5
Rugby Sevens,Australia,23,2,11.5
Rugby Sevens,Canada,23,2,11.5
Rugby Sevens,New Zealand,23,2,11.5
Water Polo,Japan,23,2,11.5
Basketball,Islamic Republic of Iran,12,1,12.0
Volleyball,Islamic Republic of Iran,12,1,12.0
Volleyball,Serbia,12,1,12.0
Rugby Sevens,South Africa,12,1,12.0
Volleyball,Turkey,12,1,12.0
Rugby Sevens,United States of America,24,2,12.0
Water Polo,ROC,12,1,12.0
Rugby Sevens,Argentina,12,1,12.0
Water Polo,Greece,12,1,12.0
Rugby Sevens,Brazil,12,1,12.0
Volleyball,Canada,12,1,12.0
Water Polo,Croatia,12,1,12.0
Volleyball,Republic of Korea,12,1,12.0
Volleyball,Dominican Republic,12,1,12.0
Rugby Sevens,Ireland,12,1,12.0
Water Polo,People's Republic of China,12,1,12.0
Handball,Portugal,12,1,12.0
Water Polo,Italy,12,1,12.0
Basketball,Argentina,12,1,12.0
Basketball,Canada,12,1,12.0
Baseball/Softball,Mexico,37,3,12.333333333333334
Water Polo,United States of America,25,2,12.5
Water Polo,Hungary,25,2,12.5
Water Polo,Australia,25,2,12.5
Water Polo,Serbia,13,1,13.0
Handball,Bahrain,13,1,13.0
Water Polo,Canada,13,1,13.0
Water Polo,Netherlands,13,1,13.0
Water Polo,Montenegro,13,1,13.0
Water Polo,Spain,26,2,13.0
Handball,France,28,2,14.0
Handball,Angola,14,1,14.0
Handball,Sweden,28,2,14.0
Handball,Egypt,14,1,14.0
Handball,Brazil,28,2,14.0
Handball,ROC,14,1,14.0
Handball,Spain,29,2,14.5
Handball,Republic of Korea,15,1,15.0
Handball,Germany,15,1,15.0
Handball,Argentina,15,1,15.0
Handball,Montenegro,15,1,15.0
Hockey,Great Britain,34,2,17.0
Hockey,People's Republic of China,17,1,17.0
Hockey,Spain,35,2,17.5
Football,Argentina,19,1,19.0
Football,New Zealand,39,2,19.5
Football,Sweden,20,1,20.0
Football,People's Republic of China,20,1,20.0
Football,Netherlands,20,1,20.0
Football,Honduras,20,1,20.0
Football,Brazil,41,2,20.5
Football,Great Britain,21,1,21.0
Baseball/Softball,Dominican Republic,21,1,21.0
Football,France,21,1,21.0
Football,Australia,43,2,21.5
Baseball/Softball,Israel,22,1,22.0
Football,Canada,22,1,22.0
Baseball/Softball,Republic of Korea,22,1,22.0
Hockey,Argentina,35,1,35.0

Calculate the Coaches to participants ratio for each country

In [0]:
%sql
SELECT 
    athletes.Country,
    COUNT(DISTINCT athletes.PersonName) as ParticipantsCount,
    COUNT(DISTINCT coaches.Name) as CoachesCount,
    (ParticipantsCount / CoachesCount) as Participants2CoachesRatio
FROM athletes 
JOIN coaches
    ON athletes.Country = coaches.Country
GROUP BY athletes.Country
ORDER BY Participants2CoachesRatio ASC

Country,ParticipantsCount,CoachesCount,Participants2CoachesRatio
San Marino,4,2,2.0
Cambodia,3,1,3.0
Venezuela,43,10,4.3
Liechtenstein,5,1,5.0
Cï¿½te d'Ivoire,29,5,5.8
Nigeria,59,9,6.555555555555555
Chile,56,6,9.333333333333334
Dominican Republic,61,6,10.166666666666666
Puerto Rico,35,3,11.666666666666666
Spain,324,26,12.461538461538462
Egypt,133,10,13.3
Fiji,28,2,14.0
South Africa,171,12,14.25
Zambia,29,2,14.5
Kenya,78,5,15.6
Saudi Arabia,32,2,16.0
Serbia,83,5,16.6
Japan,585,35,16.714285714285715
Slovenia,51,3,17.0
Montenegro,35,2,17.5
Argentina,180,10,18.0
Greece,75,4,18.75
Angola,20,1,20.0
United States of America,614,28,21.928571428571427
Mexico,155,7,22.142857142857142
Australia,470,21,22.38095238095238
India,117,5,23.4
Austria,72,3,24.0
Canada,368,15,24.533333333333335
Belgium,124,5,24.8
Honduras,25,1,25.0
New Zealand,202,8,25.25
ROC,318,12,26.5
Netherlands,272,10,27.2
Italy,354,12,29.5
Bahrain,30,1,30.0
Norway,92,3,30.666666666666668
Republic of Korea,222,7,31.714285714285715
Colombia,64,2,32.0
Islamic Republic of Iran,66,2,33.0
People's Republic of China,398,11,36.18181818181818
France,377,10,37.7
Ukraine,152,4,38.0
Slovakia,38,1,38.0
Hungary,154,4,38.5
Ireland,116,3,38.666666666666664
Brazil,291,7,41.57142857142857
Israel,85,2,42.5
Sweden,129,3,43.0
Germany,399,9,44.333333333333336
Kazakhstan,92,2,46.0
Romania,99,2,49.5
Denmark,103,2,51.5
Great Britain,366,7,52.285714285714285
Croatia,57,1,57.0
Tunisia,57,1,57.0
Czech Republic,117,2,58.5
Poland,195,3,65.0
Portugal,85,1,85.0
Turkey,102,1,102.0
Belarus,104,1,104.0

Analyze the relation between number of coaches and number of medals won for distintive countries

In [0]:
%sql
SELECT 
    athletes.Country,
    COUNT(DISTINCT athletes.PersonName) as ParticipantsCount,
    COUNT(DISTINCT coaches.Name) as CoachesCount,
    (ParticipantsCount / CoachesCount) as Participants2CoachesRatio,
    COUNT(medals.Total) as Total_Medals
FROM athletes 
JOIN coaches
    ON athletes.Country = coaches.Country
JOIN medals
    ON athletes.Country = medals.Team_Country
GROUP BY athletes.Country
ORDER BY Total_Medals DESC, Participants2CoachesRatio DESC
LIMIt 20;

Country,ParticipantsCount,CoachesCount,Participants2CoachesRatio,Total_Medals
Japan,585,35,16.714285714285715,20510
United States of America,614,28,21.928571428571427,17220
Australia,470,21,22.38095238095238,10340
Spain,324,26,12.461538461538462,9072
Canada,368,15,24.533333333333335,5888
Italy,354,12,29.5,4984
People's Republic of China,398,11,36.18181818181818,4812
ROC,318,12,26.5,3816
France,377,10,37.7,3770
Germany,399,9,44.333333333333336,3600
Netherlands,272,10,27.2,2740
Great Britain,366,7,52.285714285714285,2562
South Africa,171,12,14.25,2052
Brazil,291,7,41.57142857142857,2037
Argentina,180,10,18.0,1980
New Zealand,202,8,25.25,1616
Egypt,133,10,13.3,1596
Republic of Korea,222,7,31.714285714285715,1561
Mexico,155,7,22.142857142857142,1240
Belgium,124,5,24.8,625